<%-
  budget_amount = account.budget_amount_in_period(budget.year, budget.month)
  real_amount   = account.real_amount_in_period(budget.year, budget.month)
  over          = real_amount > budget_amount
-%>
<td class="amount budget<%= " over" if over %>"><%=amount budget_amount %></td>
<td class="amount real<%= " over" if over %>"><%=amount real_amount %></td>
