<% page_title "Liste des transactions à traiter" %>
<table id="bank_transactions">
  <thead>
    <tr>
      <th>Date</th>
      <th>Nom / Mémo</th>
      <th>Montant</th>
      <th>Traitement</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => bank_transactions %>
  </tbody>
</table>

<% content_for :sidebar do -%>
<div class="static">
  <h3>Compte de budget à assigner</h3>
  <ul id="accounts" class="navigation">
    <%= render :partial => "account", :collection => income_and_expense_accounts %>
  </ul>
</div>
<% end -%>
