@import url("/stylesheets/yui/reset-fonts.css");
html { font-size: 62.5%; }

/* http://www.brownbatterystudios.com/sixthings/2007/03/14/lucida-hybrid-the-grande-alternative/ */
body { font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
h1, h2, h3, h4, h5, h6, strong, em, b, i, thead th, caption, legend { font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; }
h1, h2, h3, h4, h5, h6, strong, b, thead th, caption, legend { font-weight: bold; }
em, i { font-style: italic; }

h1 { font-size: 2em; letter-spacing: -0.05em; }
h2 { font-size: 1.4em; letter-spacing: 0.05em; }
h3 { font-size: 1.1em; }

h1 + h2, h2 + h3, h3 + h4 { margin-top: -0.5em; }

p, ul, ol, table { margin: 1em 0; }
p { text-align: left; }

li { display: list-item; }
ul li { list-style-type: square; }
ol li { list-style-type: decimal; }

/* Custom Styles from here */
body { margin: 0; }
#head { background: #ffc473; }
#head h1 { color: #0b5fa5; margin-top: 0; padding: 16px 0px 20px 16px; letter-spacing: 0.3px; border-bottom: 2px #0b5fa5 solid; }
#head #secnav { float: right; }
#head #mainnav { float: right; clear: right; margin-top: 3px; }
/* Safari needs margin-top: 1px; instead */

#head #mainnav li { border: 2px solid #0b5fa5; border-bottom: 0; 
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ffae40;
}

#head #mainnav li:hover {
  background-color: #ff9400;
}
#head #mainnav li a { color: black; text-decoration: none; }

#dashboards #nav-dashboards,
#imports #nav-imports,
#budgets #nav-budgets,
#bank_transactions #nav-bank_transactions,
#transfers #nav-transfers,
#accounts #nav-accounts,
#bank_accounts #nav-bank_accounts
  { background-color: white !important; padding-bottom: 8px; }

.navigation { list-style-type: none; margin: 0; padding: 0; }
.navigation li { display: block; float: left; margin: 0 4px; line-height: 16px; padding: 6px; }
.navigation a { padding: 0 0 0 20px; background: left middle transparent; background-repeat: no-repeat !important; display: block; }

/* Icons */
#nav-people             a { background-image: url(../images/icons/group.png);            } 
#nav-signout            a { background-image: url(../images/icons/disconnect.png);       } 
#nav-signin             a { background-image: url(../images/icons/connect.png);          } 
#nav-signup             a { background-image: url(../images/icons/bullet_go.png);        } 

#nav-dashboards         a { background-image: url(../images/icons/chart_bar.png);        } 
#nav-imports            a { background-image: url(../images/icons/picture_add.png);      } 
#nav-budgets            a { background-image: url(../images/icons/pencil.png);           } 
#nav-bank_transactions  a { background-image: url(../images/icons/folder_database.png);  } 
#nav-transfers          a { background-image: url(../images/icons/report.png);           } 
#nav-accounts           a { background-image: url(../images/icons/page_white_stack.png); } 
#nav-bank_accounts      a { background-image: url(../images/icons/page.png);             } 

#content { margin: 0 auto; font-size: 1.4em; width: 75%; max-width: 80em; }

#pie-wrap { width: 780px; margin: 1em auto; }
#pie-wrap #expenses, #pie-wrap #incomes { width: 45%; margin: 0 1.25%; float: left; }
#history { clear: both; text-align: center; }

.inline-nav a { width: 50%; display: block; float: left; }
.inline-nav a.next { text-align: right; }

/* Table Styling */
table { border-collapse: collapse; border: 2px solid #0b5fa5; background: #ffc473; }
th, td { padding: 0.1em 1em; }
caption { font-size: 1.2em; font-weight: bold; margin: 1em 0; }
col { border-right: 1px solid #ccc; }
col:nth-last-child(0) { border: none; }
thead { background: #ffae40; border-bottom: 1px solid #0b5fa5; }
tr:nth-child(even) { background: #ffae40; }
th { font-weight: normal; text-align: left; }
td.amount, th.amount, col.amount { text-align: right; }
tr:hover { color: white; background-color: #ff9400; }
tfoot tr:hover, thead tr:hover { background-color: transparent; color: inherit; }

/* Budgeting table */
table.budget { width: 60em; }
table.budget thead th[colspan] { text-align: center; }
table.budget colgroup col { width: 5em; }
table.budget .over { font-weight: bold; }
table.budget#incomes .over { color: green; }
table.budget#expenses .over { color: red; }

table.auto_classify { width: 66%; }

/* Sidebar */
#sidebar { float: right; max-width: 240px; }
#sidebar h2:first-of-type { margin-top: 0; }

/* Bank Transactions screen, the right-hand account selector */
#account_selector { font-size: 0.8em; overflow: auto; height: 50em; width: 24em; position: fixed; margin-left: -24em; }
#account_selector ul { padding: 0; margin: 0; }
#account_selector ul li { list-style-type: none; }

#footer { margin: 8em auto; clear: both; width: 40em; }
#footer p { text-align: center; margin: 0; }

#dashboards.unauthenticated #content { width: 780px; }
#dashboards #form-signin { float: right; margin-left: 2em; width: 200px; border: 2px solid #0b5fa5; padding: 4px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #ffc473; }
#dashboards #form-signin h2 { margin-top: 0; color: #0b5fa5; }
#dashboards #form-signin p { margin: 1em; }

#flash {
  position: absolute; left: 50%; top: 61px; margin-left: -20em; width: 40em;
  border: 2px solid #0b5f7a;
  border-top: 2px solid #ffc473;
  background: #ffc473;
}

#flash p { background: left middle; background-repeat: no-repeat !important; padding-left: 20px; margin: 1em; }
#flash p.notice { background-image: url(../images/icons/emoticon_happy.png); }
#flash p.error { background-image: url(../images/icons/error.png); }
#flash p.close { text-align: right; font-size: .8em; cursor: pointer; text-decoration: underline; }
