@import url("/stylesheets/yui/reset-fonts-grids.css");
html { font-size: 62.5%; }

/* http://www.brownbatterystudios.com/sixthings/2007/03/14/lucida-hybrid-the-grande-alternative/ */
body { font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; }
h1, h2, h3, h4, h5, h6, strong, em, b, i, thead th, caption, legend { font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif; }
h1, h2, h3, h4, h5, h6, strong, b, thead th, caption, legend { font-weight: bold; }
em, i { font-style: italic; }

h1 { font-size: 2em; letter-spacing: -0.05em; }
h2 { font-size: 1.4em; letter-spacing: 0.05em; }
h3 { font-size: 1.1em; }

h1 + h2, h2 + h3, h3 + h4 { margin-top: -0.5em; }

p, ul, ol, table { margin: 1em 0; }
p { text-align: justify; }

li { display: list-item; }
ul li { list-style-type: square; }
ol li { list-style-type: decimal; }
