<% page_title "Liste des comptes de banque" %>
<table>
  <thead>
    <tr>
      <th>Banque</th>
      <th>Numéro de compte</th>
      <th>Compte Budget</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => bank_accounts %>
  </tbody>
</table>
