<p>Bienvenue chez Notre Budget.com.  Ici, vous créez votre budget et en tenez compte d'où que vous soyez.  C'est très simple:</p>
<ol>
  <li><%= link_to "On s'inscrit", new_person_path %></li>
  <li>On importe les transactions banquaires</li>
  <li>On regarde le budget évoluer !</li>
</ol>
