<tr>
  <td><%= link_to(transfer.posted_on, edit_transfer_path(transfer)) %></td>
  <td><%=h transfer.debit_account.name %></td>
  <td><%=h transfer.credit_account.name %></td>
  <td class="amount"><%=amount transfer.amount %></td>
</tr>
