<%= page_title "Opérations aux comptes" %>

<p><%= link_to "Nouvelle transaction", new_transfer_path %></p>
<table id="transfers">
  <thead>
    <tr>
      <th>Date</th>
      <th>Débiter</th>
      <th>Créditer</th>
      <th>Montant</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => transfers %>
  </tbody>
</table>
