<%= page_title "Nouvelle transaction" %>

<% form_for(@transfer) do |f| %>
  <%= render :partial => "form" %>

  <p>
    <%= f.submit "Enregistrer" %>
  </p>
<% end %>

<%= link_to "Retour à la liste", transfers_path %>
