<%= error_messages_for :account %>

<% fields_for(@account) do |f| %>
<p>
  <label for="account_name">Nom</label><br />
  <%= f.text_field :name %>
</p>

<p>
  <label for="account_purpose">Type</label><br />
  <%= f.select :purpose, @purposes %>
</p>
<% end -%>
