<h1>Editing account</h1>

<% form_for(@account) do |f| %>
  <%= render :partial => "form" %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>
