<%= page_title "Modifier un compte" %>

<% form_for(@account) do |f| %>
  <%= render :partial => "form" %>

  <p>
    <%= f.submit "Enregistrer" %>
  </p>
<% end %>

<p><%= link_to "Retour à la liste", accounts_path %></p>
